doctype html
html(lang="fr" style="height:92%" )
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document

        // Load bootstrap before anything else
        case process.env.NODE_ENV
            when 'development'
                link(rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.css")
            default
                link(rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css")
        
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css")
        block additional_stylesheets

        block additional_prescripts

    body(style="height:100%; margin-top:2%; margin-bottom:2%; background-image: url('/res/img/greforet.webp'); background-repeat: no-repeat; background-size: cover;")
        div(class="card text-center" style="width: 500px; margin: auto; height:100%")
            div(class="card-body")
                h1(class="card-title" style="padding-bottom:70px; margin-top:10%; margin-bottom:10%") Login
                form(method="post" class="text-left")
                    div(style="margin-top: 0px; margin-bottom:20px; font-size:20px") Nom d'utilisateur
                        input(class="form-control" type="text", name="username", value='a' autofocus)
                    div(style="margin-top: 10px; margin-bottom:20px; font-size:20px") Mot de passe
                        input(class="form-control" type="password", name="password", value='a')
                    div(style="margin-top: 10px; margin-top:20%")   
                        button(type="submit" class="btn btn-success btn-lg btn-block") Se connecter
            