h1 TODO
form(method="post")
    div
        p Test user is prefilled, just hit the button (not too hard tho')
        input(type="text", name="username", value='a')
    div
        input(type="password", name="password", value='a')
    div
        button(type="submit") Se connecter