doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document

        // Load bootstrap before anything else
        case process.env.NODE_ENV
            when 'development'
                link(rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.css")
            default
                link(rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css")
        
        block additional_stylesheets

        block additional_prescripts

    body
        block body

        block footer

        // Scripts
        case process.env.NODE_ENV
            when 'development'
                script(src="jquery-3.4.1-dist/jquery.js")
                script(src="bootstrap-4.4.1-dist/js/bootstrap.bundle.js")
            default
                script(src="jquery-3.4.1-dist/jquery.min.js")
                script(src="bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js")

        block additional_postscripts