doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Gretagram

        //- Favicon stuff
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")
        link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")

        //- Load bootstrap before anything else
        case process.env.NODE_ENV
            when 'development'
                link(rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.css")
            default
                link(rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css")
        
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css")
        block additional_stylesheets

        block additional_prescripts

    body
        block body

        block footer

        //- Scripts
        case process.env.NODE_ENV
            when 'development'
                script(src="jquery-3.4.1-dist/jquery.js")
                script(src="bootstrap-4.4.1-dist/js/bootstrap.bundle.js")
            default
                script(src="jquery-3.4.1-dist/jquery.min.js")
                script(src="bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js")

        block additional_postscripts