
extend /templates/layout.pug

block body
    include /templates/navbar.pug

    div(class="card" style="width: 28em;")

        // Header + Image
        div(class="card-header" style="padding: 5px 5%;")
            div(class="row")
                div(class="col-sm-1 p-0 align-middle text-center")
                    // lien vers profil
                    a(href="#")
                        img(class="icone-profil" src="res/img/pfp-0.png" alt="i" style="width: 38px; clip-path: circle(50%);")
                div(class="col-sm-10 p-0")
                    h5(style="margin: 6px 5%;") Auteur
                div(class="col-sm-1 p-0 align-middle text-center")
                    button(type="button" class="btn")
                        i(class="fas fa-bars")


        img(class="card-img-top" src="res/img/greta.jpg" alt="...")

        // Titre + Description + Likes
        div(class="card-body" style="padding: 10px 5% 0 5%;")
            h5(class="card-title") Bienvenue sur Gretagram
            div(class="card-text" style="padding-bottom: 5px") Ce projet est vraiment douteux, aidez nous
            button(type="button" class="btn")
                i(class="far fa-heart")
            span 156 J'aime
            hr(style="margin: 5px 0;")

        // Commentaires (top 3)
        div(style="padding: 5px 5%;") 
            div
                span(class="font-weight-bold") niconico  
                span @panzo.lol mdr ta vu sa?? xDDD
            div
                span(class="font-weight-bold") panzo.lol 
                span Bonjour et bienvenue sur ce projet de web.
            div
                span(class="font-weight-bold") cookie.mrmnd 
                span F

        // Ajouter un commentaire
        div(class="input-group mb-3")
            input(type="text" class="form-control" placeholder="Ajoutez votre commentaire" aria-label="Contenu du Commentaire" aria-describedby="button-addon")
            div(class="input-group-append")
                button(class="btn btn-outline-secondary" type="button" id="button-addon")
                    i(class="fas fa-paper-plane")



