
div(class="container" style="padding-top: 5em;")
    div(class="card")
        div(class="row no-gutters justify-content-md-center")
            div(class="col")
                a(href="#")
                    img(class="card-img" src="res/img/greforet.webp")

            div(class="card col col-lg-3")
                // Header + Image
                div(class="card-header" style="padding: 5px 5%;")
                    div(class="align-middle text-center")
                        // image de profil + nom                    class="rounded-left"
                        a(href="#" class="float-left")
                            img(class="icone-profil" src="res/img/pfp-0.png" alt="i" style="width: 38px; clip-path: circle(50%);")
                        a(href="#" class="float-left text-dark text-decoration-none" style="margin: 6px 2%; font-weight: bold;") cookie.mrmnd

                        // dropdown menu
                    div(class="dropdown float-right")
                        button(class="btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                            i(class="fas fa-ellipsis-v")
                        div(class="dropdown-menu" aria-labelledby="dropdownMenu1")
                            button(class="dropdown-item" type="button") Partager
                            button(class="dropdown-item" type="button") Voir la publication
                            button(class="dropdown-item" type="button") Voir le profil
                            button(class="dropdown-item text-danger" type="button") Se désabonner

                    

                // Commentaires dont description
                div(class="card-body" style="padding: 5px 5%; font-size: 13px;  overflow:auto; height:1px;") 
                    div(style="padding: 10px 5% 0 5%;")
                        p(style="font-size: 14px; margin: 0;") Ce projet est vraiment douteux, aidez nous
                        hr(style="margin: 5px 0;")
                    div
                        span(style="font-weight: bold; color: #404040;") niconico  
                        span @panzo.lol mdr ta vu sa?? xDDD
                    div
                        span(style="font-weight: bold; color: #404040;") panzo.lol 
                        span Bonjour et bienvenue sur ce projet de web.
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") cookie.mrmnd 
                        span F
                    div
                        span(style="font-weight: bold; color: #404040;") Grégu 
                        span Whoa, that's a lotta F dude, you should chill !

                // Ajouter un commentaire
                div(class="input-group")
                    input(type="text" class="form-control" placeholder="Ajoutez un commentaire..." aria-label="Contenu du Commentaire" aria-describedby="button-addon" style="height: 38px; font-size: 13px;")
                    div(class="input-group-append")
                        button(class="btn btn-outline-secondary" type="button" id="button-addon")
                            i(class="fas fa-paper-plane")
                
                
                div(class="card-footer" style="padding: 10px 5% 0 5%; margin-top:10px")              
                    div(class="align-middle" style="margin: -7px;")
                        button(type="button" class="btn" data-toggle="tooltip" data-placement="top" title="J'aime")
                            i(class="far fa-heart")
                        span(style="font-size: 14px; font-weight: bold; color: #404040;") 156 J'aime
                    // Description
                    div(class="card-text" style="padding-bottom: 0px;")
                        p(class="text-secondary" style="font-size: 11px; margin-left: 5px;") IL Y A 23 HEURES



