extend /templates/layout.pug

block body
    include /templates/navbar.pug
    div(class="card text-center" style="width: 500px; margin: auto; margin-top:10%")
        div(class="card-body" style="margin-top:10%")
            h1(class="card-title" style="padding-bottom:70px; margin-top:4%; margin-bottom:10%") Félicitation !
            h1(class="card-title" style="padding-bottom:70px; margin-top:4%; margin-bottom:10%") Votre post a été créé avec succès
            
