extend /templates/layout.pug

block body
    include /templates/navbar.pug

    div(class="container" style="padding-top: 5em;")
        div(class="row")
            div(class="col")
                include /templates/post.pug
                include /templates/post.pug
                include /templates/post.pug
                include /templates/post.pug
            div(class="col-4")
                div(style="position:fixed; width:18%;")
                    // lien vers profil
                    div(class="row" style="margin-bottom:15px; margin-top:3px; margin-left:-2px;")
                        a(href="#")
                            img(class="icone-profil" src="res/img/pfp-0.png" alt="i" style="width: 50px; clip-path: circle(50%);")
                        div(class="col")
                            div(class="row")
                                h5(style="margin: 6px 5%;") Panzolol
                            div(class="row")
                                small(class="text-muted" style="margin: -5px 5%;") David Panzolol
                    div(class="row card")
                        div(class="card-body")
                            div(class="row")
                                div(class="col text-left")
                                    p aled
                                div(class="col text-right")
                                    p oskur
                            h5(class="card-title") Special title treatment
                            p(class="card-text") With supporting text below as a natural lead-in to additional content.
                            a(href="#" class="btn btn-primary") Go somewhere
                                