extend /templates/layout.pug

block body
    include /templates/navbar.pug

    div(class="container" style="padding-top: 5em;")
        div(class="row")
            div(class="col")
                div(class="card")
                    div(class="card-body")
                        h5(class="card-title") Card title
                        p(class="card-text") This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        p(class="card-text")
                            small(class="text-muted") Last updated 3 mins ago
                        img(class="w-100" src="res/img/greta.jpg")
                div(class="card")
                    div(class="card-body")
                        h5(class="card-title") Card title
                        p(class="card-text") This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        p(class="card-text")
                            small(class="text-muted") Last updated 3 mins ago
                        img(class="w-100" src="res/img/greta.jpg")
                div(class="card")
                    div(class="card-body")
                        h5(class="card-title") Card title
                        p(class="card-text") This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        p(class="card-text")
                            small(class="text-muted") Last updated 3 mins ago
                        img(class="w-100" src="res/img/greta.jpg")
                div(class="card")
                    div(class="card-body")
                        h5(class="card-title") Card title
                        p(class="card-text") This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        p(class="card-text")
                            small(class="text-muted") Last updated 3 mins ago
                        img(class="w-100" src="res/img/greta.jpg")
                div(class="card")
                    div(class="card-body")
                        h5(class="card-title") Card title
                        p(class="card-text") This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        p(class="card-text")
                            small(class="text-muted") Last updated 3 mins ago
                        img(class="w-100" src="res/img/greta.jpg")
                div(class="card")
                    div(class="card-body")
                        h5(class="card-title") Card title
                        p(class="card-text") This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        p(class="card-text")
                            small(class="text-muted") Last updated 3 mins ago
                        img(class="w-100" src="res/img/greta.jpg")
            div(class="col-4")
                div(style="position:fixed; width:18%;")
                    div(class="card")
                        div(class="card-body")
                            div(class="row")
                                div(class="col text-left")
                                    p aled
                                div(class="col text-right")
                                    p oskur
                            h5(class="card-title") Special title treatment
                            p(class="card-text") With supporting text below as a natural lead-in to additional content.
                            a(href="#" class="btn btn-primary") Go somewhere
                                