extend /templates/layout.pug

block additional_postscripts
    script(src="/res/js/load_content.js")

block body
    include /templates/navbar.pug
    div(class="container" style="padding-top: 5em;")
        div(class="row")
            div(class="col" id="content_loader")
                include /templates/post.pug
                include /templates/post.pug
                include /templates/post.pug
                include /templates/post.pug
            div(class="col-4")
                div(style="position:fixed; width:18%;")
                    //- lien vers profil
                    div(class="row" style="margin-bottom:15px; margin-top:3px; margin-left:-2px;")
                        a(href="/profile")
                            img(class="icone-profil" src="/res/img/pfp-0.png" alt="i" style="width: 50px; clip-path: circle(50%);")
                        div(class="col")
                            div(class="row")
                                h5(style="margin: 6px 5%;")
                                    a(class="text-dark text-decoration-none" href="/profile") Françovith Miramov
                            div(class="row")
                                small(class="text-muted" style="margin: -5px 5%;") cookie.mrmnd
                    div(class="row card")
                        div(class="card-body")
                            div(class="row")
                                div(class="col text-left")
                                    p help
                                div(class="col text-right")
                                    p us
                            h5(class="card-title") Big useless title here
                            p(class="card-text") Actually we still don't know what to add in this card
                            a(href="/new_post" class="btn btn-primary") Publier

                    div(class="row card" style="margin-top:30px")
                        div(class="card-body")
                            div(class="col")
                                div(class="row")
                                    small(class="text-muted" style="margin-left: -2px;") Trending in France :
                                div(class="row")
                                    h5(style="margin-left: -2px; margin-top:0px; margin-bottom: 0px")
                                        a(class="text-dark text-decoration-none" href="/profile") Françovith Miramov
                        hr(style="margin-top:-5px; margin-bottom:-5px")
                        div(class="card-body")
                            div(class="col")
                                div(class="row")
                                    small(class="text-muted" style="margin-left: -2px;") Trending in dev :
                                div(class="row")
                                    h5(style="margin-left: -2px; margin-top:0px; margin-bottom: 0px")
                                        a(class="text-dark text-decoration-none" href="/profile") I wanna die
                        hr(style="margin-top:-5px; margin-bottom:-5px")
                        div(class="card-body")
                            div(class="col")
                                div(class="row")
                                    small(class="text-muted" style="margin-left: -2px;") Trending in trending :
                                div(class="row")
                                    h5(style="margin-left: -2px; margin-top:0px; margin-bottom: 0px")
                                        a(class="text-dark text-decoration-none" href="/profile") Wtf is wrong ?
                        hr(style="margin-top:-5px; margin-bottom:-5px")
                        div(class="card-body")
                            div(class="col")
                                div(class="row")
                                    small(class="text-muted" style="margin-left: -2px;") Trending in hell :
                                div(class="row")
                                    h5(style="margin-left: -2px; margin-top:0px; margin-bottom: 0px")
                                        a(class="text-dark text-decoration-none" href="/profile") Montaut
                        hr(style="margin-top:-5px; margin-bottom:-5px")
                        div(class="card-body")
                            div(class="col")
                                div(class="row")
                                    small(class="text-muted" style="margin-left: -2px;") Trending in group :
                                div(class="row")
                                    h5(style="margin-left: -2px; margin-top:0px; margin-bottom: 0px")
                                        a(class="text-dark text-decoration-none" href="/profile") This project suck
                        hr(style="margin-top:-5px; margin-bottom:-5px")
                        div(class="card-body")
                            div(class="col")
                                div(class="row")
                                    small(class="text-muted" style="margin-left: -2px;") Trending in Fronfois :
                                div(class="row")
                                    h5(style="margin-left: -2px; margin-top:0px; margin-bottom: 0px")
                                        a(class="text-dark text-decoration-none" href="/profile") J'en ai marre de faire des posts
                        hr(style="margin-top:-5px; margin-bottom:-5px")
                        div(class="card-body")
                            div(class="col")
                                div(class="row")
                                    small(class="text-muted" style="margin-left: -2px;") Trending in World
                                div(class="row")
                                    h5(style="margin-left: -2px; margin-top:0px; margin-bottom: 0px")
                                        a(class="text-dark text-decoration-none" href="/profile") We're all gonna die