extend /templates/layout.pug

block additional_stylesheets
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="")
    link(rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css")
    link(rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css")

block additional_postscripts
    script(src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin="")
    script(type="application/javascript" src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js")
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(src="/res/js/map.js")
    script(src="/res/js/drag_and_drop.js")

block body
    include /templates/navbar.pug

    div(class="container" style="padding-top: 5em; padding-bottom: 2em; width:50em")
        div(class="card")
            //- Header + Image
            div(class="card-header" style="padding: 5px 5%;")
                div(class="align-middle text-center")
                    //- image de profil + nom                    class="rounded-left"
                    h2(href="#" class="float-left" style="margin: 6px 2%;") Créer votre post :

            div
                img(class="card-img-top" src="/res/img/youImageHere.png" style="padding-left:10%; padding-right:10%" id="drop_zone")
            
            

            hr(style="margin: 0px 0; margin-bottom:10px")

            div(class="col")
                div(class="row justify-content-center")
                    form(class="my-form" style="margin: 0px 0; margin-bottom:10px; width:50%")
                        input(type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)")
                    div(class="progress" style="margin: 0px 0; margin-bottom:10px; width:50%")
                        div(class="progress-bar" id="progress-bar" role="progressbar" style="width: 0px" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
                    

            hr(style="margin: 0px 0; margin-bottom:10px")

            //- Description 
            div(class="card-body" style="padding: 10px 5% 3% 5%;")
                span(style="font-size: 14px; font-weight: bold; color: #404040;") Ajouter une description :
    
            div(class="input-group mb-3")
                div(class="input-group")
                    textarea(class="form-control" placeholder="Facultatif" aria-label="With textarea" style="height: 100px; font-size: 13px; width:100%")

            hr(style="margin: 10px 0px;")

            div(class="card-body" style="padding: 10px 5% 3% 5%;")
                span(style="font-size: 14px; font-weight: bold; color: #404040; margin-bottom:50px") Ajouter une localisation : (cliquez pour placer le curseur)
                div(style="height:500px; width:100%")
                    div(id="mapid" style="width: 100%; height: 100%")
            
            a(href="/succes")
                div(style="margin-bottom: 30px; margin-top:20px")   
                    button(type="submit" class="btn btn-success btn-lg btn-block" ) Poster
