extend /templates/layout.pug

block body
    include /templates/navbar.pug

    div(class="container" style="padding-top: 5em;")
        div(class="card")
            div(class="card-body")
                div(class="media")
                    img(class="icone-profil" src="/cdn/user/" + username + "/pfp" alt="i" style="width: 200px; clip-path: circle(50%);")
                    div(class="media-body p-3")
                        h5(class="text-dark text-decoration-none" style="margin: 6px 5%;") #{display_name}
                        div(style="margin: 0px 5%;")
                            small(class="text-muted") @#{username}
                        div(style="margin: 6px 5%;")
                            p #{biography}
                hr
                ul(class="nav nav-pills justify-content-center text-uppercase" role="tablist")
                    li(class="nav-item")
                        a(class="nav-link active" id="profile-posts-tab" data-toggle="pill" href="#profile-posts" role="tab" aria-controls="profile-posts" aria-selected="true") Publications
                    li(class="nav-item")
                        a(class="nav-link" id="profile-likes-tab" data-toggle="pill" href="#profile-likes" role="tab" aria-controls="profile-likes" aria-selected="false") J'aimes
        br
        div(class="tab-content")
            div(class="tab-pane fade show active" id="profile-posts" role="tabpanel" aria-labelledby="profile-posts-tab")
                if posts.length
                    div(class="row row-cols-1 row-cols-md-3")
                        each post in posts
                            div(class="col mb-4")
                                div(class="card")
                                    a(href="/post/" + post)
                                        img(src="/cdn/post/" + post + "/img" class="card-img")
                else
                    div(class="alert alert-dark text-center" role="alert") C'est utilisateur n'a encore rien posté

            div(class="tab-pane fade" id="profile-likes" role="tabpanel" aria-labelledby="profile-likes-tab")
                if likes.length
                    div(class="row row-cols-1 row-cols-md-3")
                        each like in likes
                            div(class="col mb-4")
                                div(class="card")
                                    a(href="/post/" + like)
                                        img(src="/cdn/post/" + like + "/img" class="card-img")
                else
                    div(class="alert alert-dark text-center" role="alert") Cet utilisateur n'a encore rien liké
                    