extend /templates/layout.pug

block additional_stylesheets
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="")
    link(rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css")
    link(rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css")
    
block additional_postscripts
    script(src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin="")
    script(type="application/javascript" src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js")
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(src="/res/js/mapStat.js")
    script(src="/res/js/chartExemple.js")
    script(src="/res/js/chartExemple2.js")
   
    

block body
    include /templates/navbar.pug

    main(role="main" class="container border" style="margin-top:5em;")
        h4(style="margin-top:30px") Répartition des posts par localisation :
        hr
        div(style="height:500px; width:100%")
            div(id="mapid" style="width: 100%; height: 100%")    
        hr(style="margin-top:15px; margin-bottom:15px")
        h4(style="margin-top:30px") Graphiques :
        div(id="chart_div" style="height:600px")
        hr
        div(id="piechart" style="height:600px")


