extend /templates/layout.pug

block body
    include /templates/navbar.pug

    main(role="main" class="container border" style="margin-top:5em;")
        h4(style="margin-top:30px") Répartition des posts par localisation :
        hr
        div(style="height:500px; width:100%")
            include /templates/mapStat.pug
        hr(style="margin-top:15px; margin-bottom:15px")
        h4(style="margin-top:30px") Jesaispasquoiencore :
        script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
        script(src="res/javascript/chartExemple.js")
        div(id="chart_div" style="height:600px")
