html {
    height: 100%;
    background-image: url('/res/img/greforet.webp');
    background-repeat: no-repeat; 
    background-size: cover;
    
}

body {
    margin-top:10%;
    background-color: #00000000;
    
}